.comics {
    background-image: url("../../assets/images/GodzillaProfile.jpg");
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
