.main {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/FreeComicBookDay.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}